# --- 1. СЕКРЕТЫ (Никогда не загружать) ---
.env
config.local.js

# --- 2. СИСТЕМНЫЙ МУСОР (Автоматически создается Windows/Mac) ---
.DS_Store
Thumbs.db
Desktop.ini
ehthumbs.db

# --- 3. НАСТРОЙКИ РЕДАКТОРОВ (Личное для каждого разработчика) ---
.idea/
.vscode/
*.swp
*.swo

# --- 4. ЛОГИ И ВРЕМЕННЫЕ ФАЙЛЫ ---
*.log
npm-debug.log*
yarn-debug.log*

# --- 5. ЗАВИСИМОСТИ И СБОРКА (Если будете использовать Node.js) ---
node_modules/
dist/
build/